@charset "UTF-8";
*, * ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
body
{
    background-color: #f5f1e6;
    height: 100%; 
}
main
{
    height: 100%;
    width: 100%;
}
header
{
    background-color: #b56a50;
    width: 100%;
    min-height: 300px;
    padding-top: 80px;
    background-attachment: fixed;
}
header > h1
{
    text-align: center;
    color: #3b1818;
    font-size: clamp(1.5em, 9vw, 9em);
    font-family: 'Passion One';
    
}
header > p
{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    text-align: center;
    padding: 10px;

}
#linkheader
{
    text-decoration: none;
    color:#E8DCC3 ;
    font-weight: bold;

    
}
#linkheader:hover
{
    color: #500b0b ;
}
.embranco
{
    display: flex;
    background-color: #E8DCC3;
    padding: 10px;
    width: 100vw;
    height: 100vh;

}
.pembranco
{
    

    font-family: 'Sriracha';
    color: rgb(0, 0, 0);
    font-size: clamp(1.5em, 4vw, 3em);

    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px ;
    padding-top: 20px ;

    margin-left: 30px;
    margin-right: 20px ;
    margin-bottom: 20px ;
    margin-top: 20px ;
    

    position: relative;


    width: 100% ;
    min-height: 200px;
    max-width: 500px;
    line-height: normal;

    display: flex;
    text-align: left;

    

}
.foto
{
    display: flex;
    justify-content: start;

    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    
   
    width: 100vw;
    height: 87vh; 
}
#foto1
{
    background-image: url('imagens/background001.jpg');
   
}
#foto2
{
    background-image: url('imagens/background002.jpg');

}
.pfotos
{
    
    background-color: #00000065;

    font-family: 'Sriracha';
    color: white;
    font-size: clamp(1.5em, 4vw, 3em);

    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px ;
    padding-top: 20px ;

    margin-left: 30px;
    margin-right: 20px ;
    margin-bottom: 20px ;
    margin-top: 20px ;
    

    position: relative;


    width: 100% ;
    min-height: 200px;
    max-width: 500px;
    line-height: normal;

    display: flex;
    text-align: left;
}
#rodape
{
    padding: 10px;
    color:#E8DCC3 ;
    font-weight: 500;
    background-color: #4B2E2B ;
    text-align: center;
    
}
#rodape a
{
    text-decoration: none;
    margin-right: 4px ;
    margin-left: 4px;
    color: #B56A50;
    font-weight: bold;
}