@charset "UTF-8";
*, * ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
body
{
    background-color: #f5f1e6;
    height: 100%; 
}
main
{
    height: 100%;
    width: 100%;
}
header
{
    background-color: #b56a50;
    width: 100%;
    min-height: 300px;
    padding-top: 80px;
    background-attachment: fixed;
}
header > h1
{
    text-align: center;
    color: #3b1818;
    font-size: clamp(1.5em, 9vw, 9em);
    font-family: 'Passion One';
    
}
header > p
{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    text-align: center;
    padding: 10px;

}
#linkheader
{
    text-decoration: none;
    color:#E8DCC3 ;
    font-weight: bold;

    
}
#linkheader:hover
{
    color: #500b0b ;
}

.embranco
{
    display: flex;
    background-color: #E8DCC3;
    background-size: cover ;
    background-position: center center;
    background-attachment: fixed;
    padding: 20px  0px 50px 0px;
    
    width: 100%;
    margin: 0 auto;

}
.embranco2
{
    display: flex;
    background-color: #E8DCC3;
    background-size: cover ;
    background-position: center center;
    background-attachment: fixed;
    padding: 20px  0px 30px 0px;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    margin: 0 auto;

}
.pembranco
{
    

    font-family: 'Sriracha';
    color: rgb(0, 0, 0);
    font-size: clamp(1.5em, 5vw, 5em);
    line-height: 2.1;
   
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;

    
    padding: 20px;
    margin: 20px;
    
    width: clamp(289px, 50vw, 830px);
    min-height: 400px;
}
.pembranco2
{
    

    font-family: 'Sriracha';
    color: rgb(0, 0, 0);
    font-size: clamp(1.5em, 5vw, 5em);
    line-height: 2.1;
   
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;

    
    padding: 20px;
    margin: 20px;
    
    width: clamp(289px, 50vw, 830px);
    min-height: 400px;
}
.foto
{
    display: flex;

    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    
    padding: 20px  0px 50px 0px;
    width: 100%;
    margin: 0 auto;
}
#foto1
{
    background-image: url('imagens/background001.jpg');
   
}
#foto2
{
    background-image: url('imagens/background002.jpg');

}
.pfotos
{
    
    background-color: #00000065;

    font-family: 'Sriracha';
    color: rgb(255, 255, 255);
    font-size: clamp(1.0em, 4.5vw, 4.5em);
    line-height: 1.9;
   
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;

    
    padding: 10px;
    margin: 20px;
    
    width: clamp(290px, 49vw, 850px);
    min-height: 150px;
}
#rodape
{
    padding: 10px;
    color:#E8DCC3 ;
    font-weight: 500;
    background-color: #4B2E2B ;
    text-align: center;
    
}
#rodape a
{
    text-decoration: none;
    margin-right: 4px ;
    margin-left: 4px;
    color: #B56A50;
    font-weight: bold;
}