@charset "UTF-8";
*, * ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Passion+One:wght@400;700;900&display=swap');
body
{
    background-color: #f5f1e6;
    height: 100%; 
}
main
{
    height: 100%;
    width: 100%;
}
header
{
    background-color: #b56a50;
    width: 100%;
    min-height: 30vh;
    padding: 20px;
    background-attachment: fixed;
}
header > h1
{
    text-align: center;
    color: #3b1818;
    font-size: clamp(1.5em, 8vw, 8em);
    font-family: 'Passion One';
    
}
header > p
{
    font-family: ;
    text-align: center;
    padding: 10px;

}
#link1
{
    text-decoration: none;
    color:#E8DCC3 ;
    font-weight: bold;

    
}
#link1:hover
{
    color: #500b0b ;
}
.embranco
{
    background-color: #E8DCC3;
    padding: 10px;
    width: 100vw;
    height: 75vh;

}
#foto1
{
    background-image: url('imagens/background001.jpg');
    background-repeat: repeat-y;
    background-position: center right;
    background-size: cover;
    background-attachment: fixed;  
    
    position: relative;
    width: 100vw;
    height: 75vh;
   
}
#foto1e1
{
    background-size: cover;
    background-attachment: fixed;
    background-color: #00000065;
    font-family: 'Dancing Script';
    color: white;
    font-size: clamp(2.2em, 4vw, 9vh);

    position: absolute;
    top: 12.2%;
    left: 4%;
    line-height: 8vh;

    max-width: 42vw;
    min-height: 43vh;
}
#foto2
{
    padding: 10px;

}
footer
{
    left: auto;
   
}
#rodape
{
    padding: 10px;
    color:#E8DCC3 ;
    font-weight: 500;
    background-color: #4B2E2B ;
    border-radius: 2px;
    text-align: center;
    
}
#rodape a
{
    text-decoration: none;
    margin-right: 4px ;
    margin-left: 4px;
    color: #B56A50;
    font-weight: bold;
}
.
